In [1]:
import pandas as pd
import re

In [3]:
# Ruta del archivo Excel
ruta_archivo = "C://Users//Alienware X15//Desktop//tesis//BDSinaloa.xlsx"
#df = pd.read_excel(ruta_archivo,sheet_name="Valores")

# Leer el archivo Excel y seleccionar solo las columnas "A", "C", y "E"
df = pd.read_excel(ruta_archivo, usecols=["pH_CAMPO", "TEMP_AGUA", "TEMP_AMB", "OD_%", "SDT","DQO_TOT","P_TOT","N_TOT","DQO_TOT","DBO_TOT","COLI_FEC","E_COLI","ORTO_PO4","N_NO3"],sheet_name="Valores")

# Mostrar las primeras filas del DataFrame
print(df.head())

  COLI_FEC  E_COLI DBO_TOT  DQO_TOT    N_NO3     N_TOT   P_TOT ORTO_PO4  \
0   >24196     NaN    6.63  18.0872  19.6195  <19.6566   0.208    0.141
1   >24196  >24196    4.11  27.8784  33.4269   33.7438  0.2475   0.0979
2    24196    3654    6.65    16.16   8.0885    8.3008  0.1814   0.0504
3   >24196     776    2.34      <10  16.7725    17.031  0.1451   0.1334
4      663     109    2.33    25.47  14.5449   14.6639  0.1387   0.0244

      SDT  pH_CAMPO   OD_%  TEMP_AMB  TEMP_AGUA
0  768.00      8.20   83.7      35.3       24.6
1  433.28      7.97   85.8      26.7       24.3
2  306.56      8.02   89.8      34.6       25.8
3  595.20      8.05   94.3       NaN       29.9
4  748.80      8.27  127.6      37.4       33.1

In [5]:
# Función para eliminar el símbolo > o < al principio de cada valor
def limpiar_simbolos(val):
    if isinstance(val, str):
        return re.sub(r"^[<>]", "", val)
    return val

# Aplicar la función a todas las columnas del DataFrame
df= df.applymap(limpiar_simbolos)

# Mostrar las primeras filas del DataFrame limpio
print(df.head())

  COLI_FEC E_COLI DBO_TOT  DQO_TOT    N_NO3    N_TOT   P_TOT ORTO_PO4     SDT  \
0    24196    NaN    6.63  18.0872  19.6195  19.6566   0.208    0.141  768.00
1    24196  24196    4.11  27.8784  33.4269  33.7438  0.2475   0.0979  433.28
2    24196   3654    6.65    16.16   8.0885   8.3008  0.1814   0.0504  306.56
3    24196    776    2.34       10  16.7725   17.031  0.1451   0.1334  595.20
4      663    109    2.33    25.47  14.5449  14.6639  0.1387   0.0244  748.80

   pH_CAMPO   OD_%  TEMP_AMB  TEMP_AGUA
0      8.20   83.7      35.3       24.6
1      7.97   85.8      26.7       24.3
2      8.02   89.8      34.6       25.8
3      8.05   94.3       NaN       29.9
4      8.27  127.6      37.4       33.1

In [7]:
# Convertir todas las columnas en tipo numérico
df = df.apply(pd.to_numeric, errors='coerce')

# Mostrar las primeras filas del DataFrame transformado a numérico
print(df.head())

   COLI_FEC   E_COLI  DBO_TOT  DQO_TOT    N_NO3    N_TOT   P_TOT  ORTO_PO4  \
0   24196.0      NaN     6.63  18.0872  19.6195  19.6566  0.2080    0.1410
1   24196.0  24196.0     4.11  27.8784  33.4269  33.7438  0.2475    0.0979
2   24196.0   3654.0     6.65  16.1600   8.0885   8.3008  0.1814    0.0504
3   24196.0    776.0     2.34  10.0000  16.7725  17.0310  0.1451    0.1334
4     663.0    109.0     2.33  25.4700  14.5449  14.6639  0.1387    0.0244

      SDT  pH_CAMPO   OD_%  TEMP_AMB  TEMP_AGUA
0  768.00      8.20   83.7      35.3       24.6
1  433.28      7.97   85.8      26.7       24.3
2  306.56      8.02   89.8      34.6       25.8
3  595.20      8.05   94.3       NaN       29.9
4  748.80      8.27  127.6      37.4       33.1

In [11]:
df.dropna(how='all', inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3017 entries, 1 to 6389
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   COLI_FEC   3017 non-null   float64
 1   E_COLI     3017 non-null   float64
 2   DBO_TOT    3017 non-null   float64
 3   DQO_TOT    3017 non-null   float64
 4   N_NO3      3017 non-null   float64
 5   N_TOT      3017 non-null   float64
 6   P_TOT      3017 non-null   float64
 7   ORTO_PO4   3017 non-null   float64
 8   SDT        3017 non-null   float64
 9   pH_CAMPO   3017 non-null   float64
 10  OD_%       3017 non-null   float64
 11  TEMP_AMB   3017 non-null   float64
 12  TEMP_AGUA  3017 non-null   float64
dtypes: float64(13)
memory usage: 330.0 KB

In [13]:
df.to_excel("C://Users//Alienware X15//Desktop//tesis//BDlimpio.xlsx", index=False)