In [4]:
import pandas as pd

In [7]:
# Ruta del archivo Excel
ruta_archivo = "C:\\Users\\Alienware X15\\Desktop\\tesis\\BDreconstruccion\\BDsinaloavalores.xlsb"

# Leer el archivo Excel y seleccionar solo las columnas "A", "C", y "E"
df = pd.read_excel(ruta_archivo, usecols=["CLAVE SITIO","CLAVE MONITOREO","NOMBRE DEL SITIO","NOMBRE DEL SITIO","TIPO CUERPO DE AGUA","pH_CAMPO", "TEMP_AGUA", "TEMP_AMB", "OD_%", "SDT"])

# Mostrar las primeras filas del DataFrame
print(df.head())

  CLAVE SITIO   CLAVE MONITOREO                  NOMBRE DEL SITIO  \
0   OCPNO4445  OCPNO4445-281012  CULIACAN NORTE  (A) AGUAS ARRIBA
1   OCPNO4445  OCPNO4445-100313  CULIACAN NORTE  (A) AGUAS ARRIBA
2   OCPNO4445  OCPNO4445-280413  CULIACAN NORTE  (A) AGUAS ARRIBA
3   OCPNO4445  OCPNO4445-160613  CULIACAN NORTE  (A) AGUAS ARRIBA
4   OCPNO4445  OCPNO4445-280713  CULIACAN NORTE  (A) AGUAS ARRIBA

  TIPO CUERPO DE AGUA     SDT  pH_CAMPO   OD_%  TEMP_AMB  TEMP_AGUA
0              LÓTICO  768.00      8.20   83.7      35.3       24.6
1              LÓTICO  433.28      7.97   85.8      26.7       24.3
2              LÓTICO  306.56      8.02   89.8      34.6       25.8
3              LÓTICO  595.20      8.05   94.3       NaN       29.9
4              LÓTICO  748.80      8.27  127.6      37.4       33.1

In [8]:
df

,CLAVE SITIO,CLAVE MONITOREO,NOMBRE DEL SITIO,TIPO CUERPO DE AGUA,SDT,pH_CAMPO,OD_%,TEMP_AMB,TEMP_AGUA
0,OCPNO4445,OCPNO4445-281012,CULIACAN NORTE (A) AGUAS ARRIBA,LÓTICO,768.00,8.20,83.7,35.3,24.6
1,OCPNO4445,OCPNO4445-100313,CULIACAN NORTE (A) AGUAS ARRIBA,LÓTICO,433.28,7.97,85.8,26.7,24.3
2,OCPNO4445,OCPNO4445-280413,CULIACAN NORTE (A) AGUAS ARRIBA,LÓTICO,306.56,8.02,89.8,34.6,25.8
3,OCPNO4445,OCPNO4445-160613,CULIACAN NORTE (A) AGUAS ARRIBA,LÓTICO,595.20,8.05,94.3,NaN,29.9
4,OCPNO4445,OCPNO4445-280713,CULIACAN NORTE (A) AGUAS ARRIBA,LÓTICO,748.80,8.27,127.6,37.4,33.1
...,...,...,...,...,...,...,...,...,...
6481,OCPNO6220,OCPNO6220-310319,CNA-175 CUBIRI DE LA MAQUINA,SUBTERRÁNEO,NaN,8.10,NaN,30.0,29.9
6482,OCPNO6221,OCPNO6221-310319,CNA-S/N EL SABINO,SUBTERRÁNEO,NaN,7.80,NaN,29.0,23.5
6483,OCPNO6222,OCPNO6222-310319,CNA-350 LAS CABANILLAS,SUBTERRÁNEO,NaN,7.60,NaN,30.0,25.6
6484,OCPNO6223,OCPNO6223-310319,CNA-57,SUBTERRÁNEO,NaN,8.30,NaN,29.0,27.5
6485,OCPNO6224,OCPNO6224-310319,CNA-500 EL GUAYABO,SUBTERRÁNEO,NaN,8.30,NaN,25.0,22.3

In [9]:

# Filtrar el DataFrame para eliminar filas donde la columna "Tipo" contiene "subterráneo"
df_filtrado = df[~df['TIPO CUERPO DE AGUA'].str.contains('SUBTERRÁNEO', case=False, na=False)]

# Mostrar el DataFrame filtrado
print("DataFrame filtrado:")
print(df_filtrado)

DataFrame filtrado:
     CLAVE SITIO   CLAVE MONITOREO                  NOMBRE DEL SITIO  \
0      OCPNO4445  OCPNO4445-281012  CULIACAN NORTE  (A) AGUAS ARRIBA
1      OCPNO4445  OCPNO4445-100313  CULIACAN NORTE  (A) AGUAS ARRIBA
2      OCPNO4445  OCPNO4445-280413  CULIACAN NORTE  (A) AGUAS ARRIBA
3      OCPNO4445  OCPNO4445-160613  CULIACAN NORTE  (A) AGUAS ARRIBA
4      OCPNO4445  OCPNO4445-280713  CULIACAN NORTE  (A) AGUAS ARRIBA
...          ...               ...                               ...
6433   OCPNO4683  OCPNO4683-200518   PRESA GUILLERMO BLAKE AGUILAR 3
6434   OCPNO4683  OCPNO4683-260818   PRESA GUILLERMO BLAKE AGUILAR 3
6435   OCPNO4683  OCPNO4683-091218   PRESA GUILLERMO BLAKE AGUILAR 3
6436   OCPNO4683  OCPNO4683-030319   PRESA GUILLERMO BLAKE AGUILAR 3
6437   OCPNO4683  OCPNO4683-041020   PRESA GUILLERMO BLAKE AGUILAR 3

     TIPO CUERPO DE AGUA      SDT  pH_CAMPO   OD_%  TEMP_AMB  TEMP_AGUA
0                 LÓTICO  768.000      8.20   83.7      35.3       24.6
1                 LÓTICO  433.280      7.97   85.8      26.7       24.3
2                 LÓTICO  306.560      8.02   89.8      34.6       25.8
3                 LÓTICO  595.200      8.05   94.3       NaN       29.9
4                 LÓTICO  748.800      8.27  127.6      37.4       33.1
...                  ...      ...       ...    ...       ...        ...
6433   LÉNTICO (HUMEDAL)  193.280       NaN    NaN      35.0        NaN
6434   LÉNTICO (HUMEDAL)  190.720       NaN    NaN      35.0        NaN
6435   LÉNTICO (HUMEDAL)  120.960       NaN    NaN      19.6        NaN
6436   LÉNTICO (HUMEDAL)  113.792       NaN    NaN      16.5        NaN
6437   LÉNTICO (HUMEDAL)  150.400       NaN    NaN      36.0        NaN

[6162 rows x 9 columns]

In [10]:
#relleno de datos con interpolacion
df_filtrado['SDT'].interpolate(method='linear', inplace=True)
df_filtrado['pH_CAMPO'].interpolate(method='linear', inplace=True)

C:\Users\Alienware X15\AppData\Local\Temp\ipykernel_27328\3625035759.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filtrado['SDT'].interpolate(method='linear', inplace=True)
C:\Users\Alienware X15\AppData\Local\Temp\ipykernel_27328\3625035759.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado['SDT'].interpolate(method='linear', inplace=True)

In [20]:
#comprobacion de interpolacion
df_filtrado.iloc[199]

CLAVE SITIO                              OCPNO4451
CLAVE MONITOREO                   OCPNO4451-210413
NOMBRE DEL SITIO       RIO TAMAZULA PUENTE MORELOS
TIPO CUERPO DE AGUA                         LÓTICO
SDT                                         135.36
pH_CAMPO                                      8.16
OD_%                                         102.1
TEMP_AMB                                      31.8
TEMP_AGUA                                     27.9
Name: 209, dtype: object